<div class="panel panel-default panel-reward">
  <div class="panel-heading">
    <h4 class="panel-title"><a href="#collapse-reward" class="accordion-toggle" data-toggle="collapse" data-parent="#accordion">{{ heading_title }} <i class="fa fa-caret-down"></i></a></h4>
  </div>
  <div id="collapse-reward" class="panel-collapse collapse" data-bs-parent="#accordion">
    <div class="panel-body">
      <form id="form-reward" data-oc-toggle="ajax" data-oc-load="{{ list }}" data-oc-target="#shopping-cart" class="form-horizontal">
        <div class="row mb-3 form-group">
          <label for="input-reward" class="col-md-4 col-form-label control-label">{{ entry_reward }}</label>
          <div class="col-md-8">
            <input type="text" name="reward" value="{{ reward }}" placeholder="{{ entry_reward }}" id="input-reward" class="form-control"/>
          </div>
        </div>
      </form>
      <div class="text-end">
        <button type="submit" form="form-reward" formaction="{{ save }}" class="btn btn-primary">{{ button_reward }}</button>
      </div>
    </div>
  </div>
</div>
